<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
 <!--   코드조각 자동포함 기능 설정 -->
<!--   jsp-property-group : jsp의 프로퍼티를 포함 -->
<!--   url-pattern : 프로퍼티를 적용할 jsp파일의 url 패턴을 지정 -->
<!--   include-prelude : url-pattern태그에 지정한 경로안의 모든 jsp파일의 맨 처음부분에 해당 파일을 삽입함 -->
<!--   include-coda : url-pattern태그에 지정한 경로안의 모든 jsp파일의 맨 마지막 부분에 해당 파일을 삽입함 -->
<!-- 	<jsp-config> -->
<!-- 		<jsp-property-group> -->
<!-- 			<url-pattern>main/*</url-pattern> -->
<!-- 			<include-prelude>../header.jsp</include-prelude> -->
<!-- 			<include-coda>../footer.jsp</include-coda> -->
<!-- 		</jsp-property-group> -->
<!-- 	</jsp-config> -->
 
 
  <display-name>library</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
</web-app>